// Place all the styles related to the chatmessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.chats-container {
  position: relative;
  .new_chatmessage {
    display: block;
    border: none;
    text-align: right;
    input[type="text"] {
      max-width: 400px;
      min-width: 150px;
      padding-left: 5px;
    }
    input {
      margin-left: auto;
    }
  }  
}

.friends-chat {
  width: max-content;
  margin-right: auto;
  height: 350px;
  overflow-y: scroll;
  border-radius: 10px;
  h3 {
    margin-top: 0px;
  }
}

.friend-each {
  border: 1px solid skyblue;
}

.chat {
  padding: 15px;
  background-color: rgba(255, 235, 205, 0.3);
  border-radius: 10px;
  border: 5px solid silver;
  margin-bottom: 10px;
  height: 420px;
  overflow-y: scroll;
  .float-right {
    margin-left: auto;
    text-align: right;
  }
  .float-left {
    margin-right: auto;
  }
  .message {
    font-size: 1.6rem;
    width: max-content;
    border-radius: 15px;
    color: rgb(20, 16, 16);
    height: 50px;
    margin-bottom: 17px;
     p {
      background-color: #fff;
      margin-bottom: 0px;
      border-radius: 15px;
      padding: 5px;
      width: calc(100% + 10px);
    }
    small {
      padding-left: 5px;
      font-size: 1.2rem;
    }
  }
}

.chat-wrapper {
  position: absolute;
  top: 10px;
  display: none;
  right: 0;
  margin-top: 10px;
  width: 70%;
  .chat-field {
    border: 1px solid gray;
    border-radius: 10px;
    &:hover,
    &:focus,
    &:active {
      border: none;
    }
  }
}

.show-chat {
  display: block;
}

@media only screen and (max-width: 800px) {
  .chat-wrapper {
    width: 100%;
    top: 90px;
  }
  .new_chatmessage {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 90%;
  input[type="text"] {
    width: 70%;
  }
  .btn {
    width: 25%;
    padding: 3px;
    border-radius: 5px;
  }
  }
  .friends-chat {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 270px;
    overflow-y: hidden;
    overflow-x: scroll;
    h3 {
      display: none;
    }
  }
  .friend-each {
    margin: 10px;
    height: 50px;
    a {
      display: inline-block;
      width: 170px;
    }
  }
  .chat {
    height: 370px;
  }
}