// Place all the styles related to the chatmessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.chats-container {
  position: relative;
  .new_chatmessage {
    display: block;
    border: none;
    text-align: right;
    input[type="text"] {
      width: 450px;
      padding-left: 15px;
    }
    input {
      margin-left: auto;
    }
  }
}

.friends-chat {
  margin-top: 30px;
  margin-right: auto;
  height: 350px;
  width: 250px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #fff;
  h3 {
    margin-top: 0px;
  }
  small {
    display: none;
  }
}

.friend-each {
  border: 1px solid skyblue;
}

.chat {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 5px solid silver;
  margin-bottom: 10px;
  height: 400px;
  overflow-y: scroll;
  z-index: -99;
  transition: height 2s;
  .float-right {
    margin-left: auto;
    text-align: right;
    flex-direction: row-reverse;
    div {
      margin-right: 12px;
    }
  }
  .float-left {
    margin-right: auto;
  }
  .message {
    font-size: 1.6rem;
    width: max-content;
    display: flex;
    color: rgb(20, 16, 16);
    margin-bottom: 17px;
    div {
      margin-left: 8px;
    }
    p {
      background-color: #fff;
      margin-bottom: 0px;
      border-radius: 15px;
      padding: 5px;
      word-wrap: break-word;
      width: 120px;
    }
    small {
      padding-left: 5px;
      font-size: 1.2rem;
    }
  }
}

.chat-wrapper {
  position: absolute;
  top: 10px;
  right: 0;
  margin-top: 10px;
  width: 70%;
  .chat-field {
    border: 1px solid gray;
    border-radius: 10px;
    &:hover,
    &:focus,
    &:active {
      border: none;
    }
  }
}

.hide-chat {
  display: none;
}

.show-chat {
  display: block;
}

@media only screen and (max-width: 800px) {
  .chat-wrapper {
    width: 100%;
    top: 90px;
  }
  .chat-user {
    margin: 0;
  }
  .chats-container {
    .new_chatmessage {
      position: fixed;
      bottom: 0;
      margin: 0;
      padding: 0;
      width: 90%;
      input[type="text"] {
        width: 70%;
      }
      .btn {
        width: 25%;
        padding: 3px;
        border-radius: 5px;
      }
    }
  }
  .friends-chat {
    height: 85px;
    transition: height 2s;
    small {
      display: initial;
      font-style: italic;
    }
  }
  .friend-each {
    margin: 10px;
    height: 50px;
    a {
      display: inline-block;
      width: 170px;
    }
  }
  .chat {
    height: 410px;
    .message {
      p {
        width: 100px;
      }
    }
  }
  .friends-chat-prop {
    height: 300px;
  }
  .chat-prop {
    height: 120px;
    bottom: 0;
  }
  .chat-wrapper-prop {
    top: initial;
    bottom: -140px;
    height: 120px;
  }
}

@media only screen and (max-width: 430px) {
  .chat-wrapper {
    margin-top: -5px;
    .chat {
      height: 340px;
    }
  }
}
