// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrap-controls {
  position: absolute;
  right: 25px;
  top: 10px;
  p {
    margin-top: 5px;
    text-align: right;
  }
}

.fa-ellipsis-h {
  cursor: pointer;
  color: rgb(29, 28, 28);
  float: right;
  margin-top: 15px;
}

.controls,
.comment-form,
.index-comment-form {
  margin-top: 15px;
  display: none;
}

.controls {
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid silver;
}

.wrap-controls:hover > .controls,
.wrap-controls:focus > .controls{
  display: block;
}

.active {
  display: block;
}

.gravatar-comment {
  position: absolute;
  left: -40px;
  top: 5px;
}