// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrap-controls {
  position: absolute;
  left: calc(100% - 100px);
  top: 10px;
  width: 100px;
  p {
    margin-top: 5px;
    text-align: center;
    padding-right: 15px;
  }
  ul.show {
    margin-right: 20px;
    left: initial;
    right: 90px;
  }
  text-align: right;
  &:hover .controls{
    display: inline-block;
  }
}

.fa-ellipsis-h {
  cursor: pointer;
  color: rgb(29, 28, 28);
  margin-right: 20px;
}

.controls,
.comment-form,
.index-comment-form {
  margin-top: 15px;
  display: none;
}

.comments-wrap {
  display: block;
  height: max-content;
}

.comment-descript {
  box-shadow: 3px 3px 10px gray;
  margin-bottom: 50px;
  display: block;
}

.controls {
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid silver;
  margin-top: 5px;
}

.active {
  display: block;
}

.gravatar-comment {
  position: absolute;
  left: -40px;
  top: 5px;
}
